@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

.App p {
  color: rgb(43, 42, 42);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.App .weather-app {
  text-align: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #76a5bb 100%);
  padding: 30px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
